.mobilePatternRight {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%; /* Adjust the width as needed */
  height: 95%;
  background-image: url(../../assets/mobilePatternRight.png);
  background-size: cover;
  background-position: center;
  display: none;
}


@media screen and (max-width:770px) {
  .mobilePatternRight{
    display: block;
  }
}