/* .projects{
  background-image: url(../../assets/cube-pattern.png);
  background-size: cover;
  background-position: center;
} */

.projects_heading{
  text-align: center;
  color: white; /* Adjust text color */
  font-weight:bold;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 5rem; /* Adjust text size */
  mix-blend-mode:difference; /* Adjust blend mode as needed */

}

@media screen and (max-width:770px) {
  .projects{
    background-image:none;
  }
  .projects_heading{
    /* color: #ffeaa7; */
    font-size: 3rem;
  }
  
}