.socialButton {
  display: flex;
  align-items: center;
  border: transparent;
  border-radius: 30px;
  cursor: pointer;
  width: max-content;
}

.social_Text{
  padding-right: 1.2rem;
  font-weight:bold;
}


@media screen and (max-width:770px) {
  .social_Text{
    display: none;
  }
  .socialButton.GitHub{
    background-color: rgba(255, 255, 255, 0.5) !important;
  }
}
