/* ProgressBar.module.css */

.progressOutline {
  margin-left: 1rem;
  height: 10px;
  width: 17rem;
  position: relative;
  border: solid white 2px;
  mix-blend-mode: difference;
  border-radius: 25px;
  overflow: hidden;
}   

.progress {
  border-radius: 25px;
  background-color: white;
  height: 100%;
}

.loading {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 25px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.545));
  animation: loadingAnimation 1.75s infinite linear;
}



@keyframes loadingAnimation {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
