.progressOutline{
  margin-left: 1rem;
  height: 10px;
  border: solid white 2px;
  mix-blend-mode: difference;
  border-radius: 25px;
  width: 17rem;
  content: "";
}

.progress{
  border-radius: 25px;
  background-color: white;
  mix-blend-mode: difference;
  height: 100%;
  content: "";
}