.HomePage{
 padding-bottom: 5rem;
}

.bottomLeft{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  background-image: url(../../assets/images/bottom-left-1.png);
  background-size: cover;
  background-position: center;
}

.topRight{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%; 
  height: 100%;
  background-image: url(../../assets/images/top-right-2.png);
  background-size: cover;
  background-position: center;
}

.mobileShapesRight {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%; /* Adjust the width as needed */
  height: 100%;
  background-image: url(../../assets/images/mobilePatternRight.png);
  background-size: cover;
  background-position: center;
  display: none;
}

.mobileShapesLeft {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%; /* Adjust the width as needed */
  height: 100%;
  background-image: url(../../assets/images/mobilePatternLeft.png);
  background-size: cover;
  background-position: center;
  display: none;
}

@media (width < 770px) {
  
  .mobileShapesLeft,.mobileShapesRight{
    display: block;
  }

  .bottomLeft,.topRight{
    display: none;
  }
  .wrapper{
    font-size: 3rem
  }
  
  .desktopShapes{
    display: none;
  }

  .mobileShapesLeft,.mobileShapesRight{
    display: block;
  }
}