.aboutMe{
  position: relative;
  /* background-image: url(../assets/images/cube.png);
  background-size: cover;
  background-position: center; */
  min-height: 100vh;
}

.heading{
  text-align: center;
  color: white; 
  font-weight:bold;
  padding-top: 6rem;
  font-size: 5rem; 
  mix-blend-mode:difference; 

}

.description{
  text-align: center;
  color: white; 
  font-weight:500;
  padding: 2.5vh 15vw 0 15vw;
  word-spacing: 5px;
  line-height: 4rem;
  font-size: 1.75rem; 
  mix-blend-mode:difference; 
}

@media (width < 1176px) {
  .heading{
    font-size: 4rem;
  }
  .description{
    line-height: 3rem;
    font-size: 1.5rem;
  }
}

@media (width < 770px) {
  .aboutMe{
    background-image: none;
  }

  .heading{
    font-size: 3rem;
  }
  .description{
    line-height: 2rem;
    font-size: 1rem;
  }
}