.SkillsSection {
  min-height: 100vh;
  margin-top: 3rem;
}

.heading {
  color: #ffeaa8;
  color: white;
  mix-blend-mode: difference;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.main {
  /* margin-top: 8rem; */
  display: flex;
  justify-content: space-around;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.avatar {
  margin-top: -3rem;
  align-self: center;
}

@keyframes test {
  0% {
    color: transparent;
    position: relative;
  }
  100% {
    color: white;
    position: relative;
  }
}

@media (width < 1176px) {
  .heading {
    font-size: 4rem;
  }
}

@media (width < 770px) {
  .avatar {
    display: none;
  }
  .heading {
    font-size: 3rem;
  }
}
