.SkillsSection{
  min-height: 100vh;
  margin-top: 3rem;
}

.heading{
  color: white;
  mix-blend-mode: difference;
  font-size: 5rem;
  font-weight: bold;
}

.main{
  margin-top: 8rem;
  display: flex;
  /* height: 90vh; */
  justify-content: space-around;
}

.skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill{
  display: flex;
  align-items: center;
  margin: 1rem;
}

.avatar{
  margin-top: -3rem;
  align-self: center;
}