.topRight {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%; /* Adjust the width as needed */
  height: 100%;
  background-image: url(../../assets/top-right-2.png);
  background-size: cover;
  background-position: center;

}


@media screen and (max-width: 770px) {
  .topRight{
    display: none;
  }
}