.main {
  position:relative;
  height: 100vh;
}

.desktop-view{
  display: none;
  width: 100%;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  font-size: xx-small;
  font-weight: 700;
  background-color: bisque;
  text-align: center;
}
/* Add styles for other elements as needed */

@media screen and (max-width:770px) {
  .desktop-view{
    display: block;
  }
}