.bottomBar {
  position: sticky;
  margin-top: 3rem;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.bottomBar > nav {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.navLink {
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 300ms ease-in-out;
}

.navLink:hover {
  font-weight: bold;
  color: #ffeaa7;
  text-decoration: none;
  transform: scale(1.2);
}

.socialButtonDiv {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.socialButton {
  display: flex;
  align-items: center;
  border: transparent;
  border-radius: 30px;
  cursor: pointer;
  width: max-content;
}

.socialText{
  padding-right: 1.2rem;
  font-weight:bold;
}

@media screen and (max-width: 770px) {
  .bottomBar {
    margin-top: 4rem;
    /* bottom: 1.4rem; */
  }
  .bottomBar > nav {
    display: none;
  }
  .socialText{
    display: none;
  }
  .socialButton.GitHub{
    background-color: rgba(255, 255, 255, 0.5) !important;
  }
}