@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Style the scrollbar thumb */
*::-webkit-scrollbar-thumb {
  background-color: rgb(129, 129, 129);
  border-radius: 100px;
}

/* Adjust the width of the scrollbar */
*::-webkit-scrollbar {
  width: 8px;
}

/* Optional: If you want to hide the scrollbar completely when not interacting with it */
body {
  background-color: #30333d;
}

/* .background {
  z-index: -1;
  height: 110vh;
  position: fixed;
  width: 100%;
} */