.project {
  background-color: rgba(255, 255, 255);
  mix-blend-mode: difference;
  border: solid 3px rgb(136, 136, 136);
  border-radius: 20px;
  padding: 2rem;
  width: 20rem;
  transition: ease-in-out 300ms;
  text-align: left;
}

.project:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px 1px white;
  mix-blend-mode: difference;
}

.name{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.description{
  font-size: 1rem;
}

.skills_heading{
  font-size: 1rem;
  margin-top: 1rem;
}


.skills{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}

.skills > *{
  background-color: black;
  color: white;
  padding: 8px 13px 8px 13px;
  width: min-content;
  border-radius: 20px;
  margin: 5px 0.5rem 1rem 2px;
  font-size: 1rem;
}

@media screen and (max-width: 770px) {
  .project{
    padding: 1.5rem;
    width: 17rem;
  }
  .name{
    font-size: 1.725rem;
  }
  .skills{
    grid-template-columns: auto auto auto;
  }

  .skills > *{
    margin: 5px 0.25rem 0.5rem 0.25px;
  }
}